<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-item']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items" [routerLink]="['/update-item', item.id]">
      <ion-label>
        {{ item.title }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
